.hide {display:none;}
.show {display:block;}

.show_more {
  width: 100%;
  text-align: center;
  line-height: 2.5rem;
  color: #37618e; 
}

.collect {
  width: 100%;
  text-align: center;
  line-height: 2.5rem;
  color: #37618e; 
}
