<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="http://img.changker.com/e0/02/dc/e002dc9c9046714275ee5682e059b216">

        <meta name="language" content="zh">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
        <meta id="ck_act_weibo_title" content="我分享了#常权益#机场快速安检通道权益。常客懂你，忙碌意义。（来自@常客说）查看详情http://apitest.changker.com/html/benefit/share/5">
        <meta id="ck_act_wechat_title" content="我分享了常权益：机场快速安检通道权益。常客懂你，忙碌意义">
        <meta id="ck_act_wechat_content" content="限国内出发使用，各机场通行码不通用，请区分领取及使用">
        <meta id="ck_act_message_title" content="我分享了常权益：机场快速安检通道权益，详情http://apitest.changker.com/html/benefit/share/5，常客懂你，忙碌意义">
        <meta id="ck_act_share_url" content="http://apitest.changker.com/html/benefit/share/5">
        <meta id="ck_act_share_icon" content="http://img.changker.com/e0/02/dc/e002dc9c9046714275ee5682e059b216">
        <meta id="ck_act_share_title" content="机场快速安检通道权益">
        <meta id="ck_act_right_id" content="0">
        <title>机场快速安检通道权益</title>
    </head>
    <body>
        <div id="app" class="benefit-body"></div>
    </body>
</html>
