<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="language" content="zh">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
        <link rel="shortcut icon" href="http://img.changker.com/e0/02/dc/e002dc9c9046714275ee5682e059b216">
        <title></title>
        <script src='https://res.wx.qq.com/open/js/jweixin-1.0.0.js?1'></script>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
